:root{

    --main-background: #222222;
    --main-text-color: white;

    /* Card default specs (Background & Border)*/

    --card-border-color: white;
    --card-background-color: transparent;

    /* Border colors */

    --ps-border-color: #13D8F5;
    --ae-border-color: #E4BEEA;
    --id-border-color: #DD44AF;
    --ai-border-color: #E69C1E;
    --xd-border-color: #E257CA;
    --an-border-color: #EB7967;
    --au-border-color: #45F0EC;
    --dw-border-color: #2EEF1F;

    /* Background colors */

    --ps-background-color: #042246;
    --ae-background-color: #1B1847;
    --id-background-color: #230C29;
    --ai-background-color: #231508;
    --xd-background-color: #250D31;
    --an-background-color: #211112;
    --au-background-color: #062C35;
    --dw-background-color: #042C07;

}